<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/st.css">
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
	<title></title>
</head>
<body>
	<ul>
	  <li>
	    <a href="#">
	      <h2>Comment</h2>
	      <h3> we like this website </h3>
	    </a>
	  </li>
	  <li>
	    <a href="#">
	      <h2>Comment</h2>
	      <h3>Wow</h3>
	    </a>
	  </li>
	</ul>

	<ul>
	  <li>
	    <a href="#">
	      <h2>Comment</h2>
	      <h3>Wow</h3>
	    </a>
	  </li>
	  <li>
	    <a href="#">
	      <h2>Comment</h2>
	      <h3> we like this website </h3>
	    </a>
	  </li>
	</ul>





</body>
</html>