<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shekulo Tov</title>
  <link rel="stylesheet" type="text/css" href="static/css/program.css">
  <link rel="stylesheet" type="text/css" href="static/css/style4.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>
  <div class="topnav" id="myTopnav">
  <a href="/" class="active">رئيسية</a>
  <div class="dropdown">
    <button class="dropbtn">اسئلة 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/add_question">اسأل سؤال :</a>
      <a href="/questions">اعرض الاسئلة</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">تدريب مهني 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/co">طبخ</a>
      <a href="/garden">زراعة</a>
      <a href="/knitting">خياطة</a>
    </div>
  </div> 
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

  <h1 id="one">فيديوهات تعليم<h1>
  <iframe width="530" height="315" src="https://www.youtube.com/embed/cRxXtrFAXAw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <iframe width="530" height="315" src="https://www.youtube.com/embed/dNctUoDQqEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <iframe width="530" height="315" src="https://www.youtube.com/embed/eLhpsLZR-_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <iframe width="530" height="315" src="https://www.youtube.com/embed/-Zj8OmF2AHo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <iframe width="530" height="315" src="https://www.youtube.com/embed/4oPpl097hGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <iframe width="530" height="315" src="https://www.youtube.com/embed/VkFqMDAJKvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <iframe width="530" height="315" src="https://www.youtube.com/embed/QDpgBA_yJgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <iframe width="530" height="315" src="https://www.youtube.com/embed/TUBiC9utV6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <iframe width="530" height="315" src="https://www.youtube.com/embed/YIR6C5eexBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <h2>تسجيل - Program for integrate into nitting job</h2>
  <p>Please fill in the form below to join our program and explore job opportunities:</p>
  {% if user == None %}
     <center><a href="/signup"><button>JOIN</button></a></center>
  {% else %}

    <center><a href="/"><button onclick="Join()">JOIN</button></a></center>
     <script>
  
function Join() {
  alert(" An EMAIL was just sent to you!");
}

</script> 
{% endif %}
</body>
</html>
