<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shekulo Tov</title>
  <link rel="stylesheet" type="text/css" href="static/css/program.css">

</head>
<body>
  <h2>Sign Up - Program for integrate into nitting job</h2>
  <p>Please fill in the form below to join our program and explore job opportunities:</p>
  <center><button onclick="Join()">Join</button></center>

<script>
function Join() {
  alert(" An EMAIL was just sent to you!");
}
</script>
</body>
</html>
