<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shekulo Tov</title>
  <link rel="stylesheet" type="text/css" href="static/css/signin_up.css">

</head>
<body><form id="signup-form" method="POST" action="/signup">
    <label for="full-name">Full Name:</label>
    <input type="text" id="full-name" name="full_name" required>

    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="phone" name="password" minlength=6 required>

    <label for="disability">Disability:</label>
    <input type="text" id="disability" name="disability" required>

    <label for="availability">Availability:</label>
    <select id="availability" name="availability" required>
      <option value="">Select One</option>
      <option value="full-time">Full Time</option>
      <option value="part-time">Part Time</option>
      <option value="flexible">Flexible</option>
    </select>

    <button type="submit" >Submit</button>
  </form></body></html>