<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shekulo Tov</title>
  <link rel="stylesheet" type="text/css" href="static/css/signin_up.css">

</head>
<body><form id="signup-form" method="POST" action="/signup">
    <label for="full-name">Full Name:</label>
    <input type="text" id="full-name" name="full_name" required>

    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="phone" name="password" minlength=6 required>

    <label for="availability">Select a field:</label>
      <select id="availability" name="ava" required>
        <option value="">Select One</option>
        <option value="استجمام">استجمام</option>
        <option value="المهنة وعالم العمل">المهنة وعالم العمل</option>
        <option value="الرياضة واللياقة البدنية">الرياضة واللياقة البدنية</option>
        <option value="اليقظة والتأمل والصور الموجهة">اليقظة والتأمل والصور الموجهة</option>
        <option value="Nlp وتضخيم">Nlp وتضخيم</option>
        <option value="تواصل وثيق">تواصل وثيق</option>
        <option value="تغذية">تغذية</option>
        <option value="الشؤون الجارية والخطاب الشخصي">الشؤون الجارية والخطاب الشخصي</option>
        <option value="جولات افتراضية">جولات افتراضية</option>
        <option value="فنون">فنون</option>
        <option value="طبخ">طبخ</option>
        <option value="الدراما والمسرح والمحو">الدراما والمسرح والمحو</option>
        <option value="ترميم وتأجير">ترميم وتأجير</option>
        <option value="خياطة">خياطة</option>
        <option value="زراعة">زراعة</option>
    </select>


    <button type="submit" >Submit</button>
  </form></body></html>