<!DOCTYPE html>
<html>
<head>
<title>Shekulo Tov</title>
<head>
  <meta charset="UTF-8">
  <title>Shekulo Tov</title>
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" type="text/css" href="static/css/style2.css">
</head>
<body>
<center><a href="/volunteers_sign"><button>SIGN IN / SIGN OUT</button></a></center>
</body>
</html>
